<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MadLibzzz</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    <h1>Fill in the blanks. It is hilarious AF.</h1>
    <form action="/output" method="post">
     <label for="adjectiveOne">Adjective</label>
     <input id="adjectiveOne" name="adjectiveOne" type="text">
     
     <label for="nounOne">Noun</label>
     <input id="nounOne" name="nounOne" type="text">
     
     <label for="adjectiveTwo">Adjective</label>
     <input id="adjectiveTwo" name="adjectiveTwo" type="text">
     
     <label for="nounTwo">Noun</label>
     <input id="nounTwo" name="nounTwo" type="text">
     
     <label for="adjectiveThree">Adjective</label>
     <input id="adjectiveThree" name="adjectiveThree" type="text">
     
     <label for="nounThree">Noun</label>
     <input id="nounThree" name="nounThree" type="text">
     
     <label for="properNoun">Proper Noun</label>
     <input id="properNoun" name="properNoun" type="text">
     
     <label for="nounFour">Noun</label>
     <input id="nounFour" name="nounFour" type="text">
     
     <button type="submit">Go!</button>
    </form>
</body>
</html>